.btn-back {
    align-items: center;
    background-color: #0b99d6;
    border-radius: 50%;
    color: #001017;
    display: flex; 
    justify-content: center;
    height: 40px;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    width: 40px;
    svg{
        zoom: 1.2;
    }
}

.btn-back:hover {
    background-color: #fff;
    transform: translateX(-4px)
}