.pokemon-card {
    border: 2px solid;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    margin: 0.8rem;
    text-align: center;
    transition: transform 0.3s ease;
    width: 240px;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-image {
    height: 120px;
    object-fit: cover;
    width: 120px;
}

.pokemon-type {
    color: #ccc;
    font-style: italic;
    margin: 0.4rem 0;
}

.pokemon-power {
    font-weight: bold;
    color: #ccc;
    margin: 0.4rem 0;
}

.legendary-badge {
    display: inline-block;
    background-color: gold;
    color: black;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    transform: rotate(5deg);
}